<div class="slider" id="imagebox">
    <div class="slider-wrapper">
        <div class="slide" id="slide-1">
            <img src="/about/ny.jpg" alt="New York" />
        </div>
        <div class="slide" id="slide-2">
            <img src="/about/spb.jpg" alt="Sankt-Peterburg" />
        </div>
        <div class="slide" id="slide-3">
            <img src="/about/london.jpg" alt="London" />
        </div>
    </div>
    <div class="slider-nav">
        <div>
            <button href="#slide-1" id="ny">1</button>
            <button href="#slide-2" id="spb">2</button>
            <button href="#slide-3" id="ldn">3</button>
        </div>
    </div>
    <div class="slidetoaside">
        <button type="button" class="slider-previous" id="prev">Предыдущий</button>
        <button type="button" class="slider-next" id="next">Следующий</button>
    </div> 
</div>